<div class="pt-5"></div>
<%= show_form_errors dish %>

<%= form_with model: dish do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control', autocomplete: :off %>
  </div>
  <div class="mb-3">
    <%= f.label :tag_ids, class: 'form-label' %>
    <div class="input-group">
      <%= f.collection_select(
        :tags_ids,
        [],
        :id,
        :name,
        {},
        { class: 'form-select',
          data: {
            tags: tags.as_json(only: %i[id name]),
            selected: dish.tags.as_json(only: %i[id name])
          }
        }
       ) %>
      <%= link_to '+', new_tag_path(context: :dish), class: 'btn btn-outline-secondary' %>
    </div>
  </div>
  <div class="mb-3">
    <%= f.label :cooking_time, class: 'form-label' %>
    <%= f.number_field :cooking_time, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :servings_number, class: 'form-label' %>
    <%= f.number_field :servings_number, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :comment, class: 'form-label' %>
    <%= f.text_area :comment, rows: 3, class: 'form-control', autocomplete: :off %>
  </div>
  <%= f.submit nil, class: 'btn btn-primary' %>
  <%= link_to 'Отмена', recipes_path, class: 'btn btn-outline-dark' %>
<% end %>

<%= javascript_pack_tag 'dishes/form', 'data-turbolinks-track': 'reload' %>
