<div class="pt-5"></div>
<%= show_form_errors dish %>

<%= form_with model: dish do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control', autocomplete: :off %>
  </div>
  <div class="mb-3">
    <%= f.label :ingredients, class: 'form-label' %>
    <%= content_tag :div,
      '',
      id: :ingredients,
      data: {
        ingredients: IngredientSerializer.as_json(dish.ingredients),
        products: ProductSerializer.as_json(products_resource)
      }
    %>
    <div id="ingredients"></div>
  </div>
  <div class="mb-3">
    <%= f.label :tag_ids, class: 'form-label' %>
    <div class="input-group">
      <%= f.collection_select(
        :tags_ids,
        [],
        :id,
        :name,
        {},
        { class: 'form-select',
          data: {
            tags: TagSerializer.as_json(tags_resource),
            selected: TagSerializer.as_json(dish.tags)
          }
        }
       ) %>
      <%= link_to '+', new_tag_path, class: 'btn btn-outline-secondary' %>
    </div>
  </div>
  <div class="mb-3">
    <%= f.label :cooking_time, class: 'form-label' %>
    <%= f.number_field :cooking_time, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :servings_number, class: 'form-label' %>
    <%= f.number_field :servings_number, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :comment, class: 'form-label' %>
    <%= f.text_area :comment, rows: 3, class: 'form-control', autocomplete: :off %>
  </div>
  <%= f.submit nil, class: 'btn btn-primary' %>
  <%= link_to 'Отмена', dishes_path, class: 'btn btn-outline-dark' %>
<% end %>

<%= javascript_pack_tag 'dishes/form', 'data-turbolinks-track': 'reload' %>
