<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li><%= link_to 'Блюда', dishes_path, class: "nav-link" -%></li>
        <li><%= link_to 'Продукты', products_path, class: "nav-link" -%></li>
        <li><%= link_to 'Теги', tags_path, class: "nav-link" -%></li>
        <li><%= link_to 'Разделы', categories_path, class: 'nav-link' -%></li>
      </ul>
      <ul class="navbar-nav float-end">
        <li><%= link_to 'Выйти', sessions_path, method: :delete, class: "nav-link", data: { confirm: 'Вы уверены?' } -%></li>
      </ul>
    </div>
  </div>
</nav>
